services:
   mongodb: #--name mongodb
      build: ./mongodb
      image: pallapraveena/mongodb:v1
      container_name: mongodb
      volumes:
      - mongodb:/data/db # check this in mongo in docker hub  where it stroes volumes 
   catalogue:
      build:
        context: ./catalogue
        dockerfile: Dockerfile
      image: pallapraveena/catalogue:v1
      container_name: catalogue
      depends_on:
      - mongodb
    
   redis:
      image: redis:7.0
      container_name: redis
      volumes:
      - redis:/data
   mysql:
      build: ./mysql
      image: pallapraveena/mysql:v1
      container_name: mysql
      volumes:
      - mysql:/var/lib/mysql
   rabbitmq:
      
      image: rabbitmq:3
      container_name: rabbitmq
      volumes: #= -v rabbitmq:/var/lib/rabbitmq
      - rabbitmq:/var/lib/rabbitmq 
      environment:
        RABBITMQ_DEFAULT_USER: roboshop
        RABBITMQ_DEFAULT_PASS: roboshop123
      
   user:
      build: ./user
      image: pallapraveena/user:v1
      container_name: user
      depends_on:
      - mongodb
      - redis
   cart:
     build: ./cart
     image: pallapraveena/cart:v1
     container_name: cart
     depends_on:
     - redis
     - catalogue
   shipping:
     build: ./shipping
     image: pallapraveena/shipping:v1
     container_name: shipping
     depends_on:
     - mysql
     - cart
   payment:
     build: ./payment
     image: pallapraveena/payment:v1
     container_name: payment
     depends_on:
     - rabbitmq
     - cart
     - user

   frontend:
     build: ./frontend
     image: pallapraveena/frontend:v1
     container_name: frontend
     ports:
     - "80:80"
     depends_on:
     - catalogue
     - user
     - cart
     - shipping
     - payment
      
networks:
   default: 
     driver: bridge
     name: roboshop
     external: false # true if you have created network manually using docker network command
volumes:
   mongodb: # docker voulme create mongodb
   redis:
   mysql:
   rabbitmq:
